* {
  box-sizing: border-box;
  }

  body {
      font-family: 'Quicksand', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #F8F2DE;
  }
   
  h2, h3 {
    color: #A31D1D;
  }

  .card p {
    text-align: justify;
  }
  
   
  footer {
    padding: 20px;
    color: white;
    background-color: #A31D1D;
    text-align: center;
    font-weight: bold;
  }
  
  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    color: #ffffff
  }

  nav a:hover {
    font-weight: bold;
  }

  .profile header {
    text-align: center;
  }


  .featured-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  

  .profile img {
    width: 200px;
  }

  .card {
    box-shadow: 0 4px 8px 0 #ffffff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #A31D1D;
    text-align: center;
    color: #ffffff;
  }

  nav ul {
    padding-inline: 4rem;
    display: flex;

    gap: 2rem;

  }

  nav li {
    list-style-type: none;
  }

  nav {
    background-color: #be3030;
    padding: 5px;

    position: sticky;
    top: 0;
  
  }

   
  main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
  }
   
  #content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }
  

  aside {
    flex: 1;
  }


  header {
    display: inline;
  }

  /* Perangkat dengan lebar layar 1200px dan di bawahnya */
  @media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
    }
  }


  /* Perangkat dengan lebar layar 768px dan di bawahnya */
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
    main aside {
      align-self: stretch;
    }
  }
  


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #D84040;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #F8F2DE;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown on hover */
  }

  